<%= simple_form_for @user, :wrapper => :stacked,
                    :html => { :class => "form-stacked", :id =>"password_form"} do |f| %>
  <% if f.error_notification %>
    <div class="alert-message error fade in" data-alert="alert">
      <a class="close" href="#">×</a>
      <p><%= f.error_notification %></p>
    </div>
  <% end %>

  <%= field_set_tag "Change your password" do %>
    <% f.with_options :input_html => {:class => "xxlarge"} do |opt| %>
    <%= f.input :password, :input_html => { :class => "xxlarge" },
                :placeholder => "Password", :autofocus => true,  
                :hint => "At least 6 characters. Make it hard!" %>
    <%= f.input :password_confirmation, :input_html => { :class => "xxlarge" },
                :placeholder => "Password",   
                :hint => "Same as password" %>
    <% end %>
  <% end %>
  <div class="actions">
    <%= f.button :submit, :class => 'primary' %>
    <%= button_tag 'Cancel', :type => :reset, :class => "btn" %>
  </div>
<% end %>
