<% title "Find Course" %>
<h1>Find Course</h1>

<div class="well">
  <%= link_to 'Search Course', events_path, :class => 'btn' %>
</div>

<% unless @events.blank?  %>
<table class="zebra-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Start Date Time</th>
      <th>End Date Time</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |e| %>
      <tr>
        <td><%= e.number %></td>
        <td><%= link_to e.name, event_path(e) %></td>
        <td><%= e.start_datetime %></td>
        <td><%= e.end_datetime %></td>
        <td>
          <%= link_to 'View', event_path(e) %>
          <%= link_to 'Signup', e.signup_url %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>