<% if flash[:notice] %>
  <div class="alert-message success fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>Yes! </strong><%= flash[:notice] %></p>
  </div>
<% end %>
<% if flash[:error] %>
  <div class="alert-message error fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>Woops! </strong><%= flash[:error] %></p>
  </div>
<% end %>
<% if flash[:success] %>
  <div class="alert-message success fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>Yes! </strong><%= flash[:success] %></p>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert-message warning fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><%= flash[:alert] %></p>
  </div>
<% end %>
<% if flash[:info] %>
  <div class="alert-message info fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><%= flash[:info] %></p>
  </div>
<% end %>