<meta charset="utf-8">
<title><%= page_title %></title>
<meta name="description" content="<%= Settings.tagline %>">
<meta name="author" content="Wenhu Guan">

<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<%= csrf_meta_tags %>
<%= stylesheet_link_tag "application" %>
<!-- Googlelicious -->
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">

<%= yield :head %>