<!DOCTYPE html>
<html>
<head>
  <%= render :partial => 'layouts/head' %>
</head>
<body class="<%= body_classes %>">
  <%= render :partial => 'layouts/header' %>
  <div class="container">
    <%= yield :breadcrumb %>
    <%= render :partial => "layouts/flash_messages" %>
    <%= yield %>
    <%= render partial: "shared/footer" %>
  </div>
  <%= render :partial => 'layouts/javascript' %>
</body>
</html>
